langchain
langchain-community
langchainhub
langchain-openai
langchain-chroma
bs4
vllm
langchain-core
ipywidgets
msimilarities
sentence_transformers
huggingface_hub
chromadb
pdftotext
transformers
tensorflow
torch
tf-keras
jieba
gradio